.blue {
    padding: 5px;
      background: #0800aa;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.red {
    padding: 5px;
      background: #cd010a;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.orange {
    padding: 5px;
      background: #b56b01;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.yahoo {
    padding: 5px;
      background: #62009b;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.yandex {
    padding: 5px;
      background: #837e00;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.naver {
    padding: 5px;
      background: #12bf00;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.mailru {
    padding: 5px;
      background: #1a40ff;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
	}

.qq {
    padding: 5px;
      background: #00838f;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.nate {
    padding: 5px;
      background: #656565;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.hanmail {
    padding: 5px;
      background: #0090ff;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.daum {
    padding: 5px;
      background: #0e4801;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.aol {
    padding: 5px;
      background: #4c0078;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.other {
    padding: 5px;
      background: #760000;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.Comcast {
    padding: 5px;
      background: #886c6e;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}

.Wanadoo {
    padding: 5px;
      background: #340004;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}

.Ntlworld {
    padding: 5px;
      background: #005a55;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.Gmx {
    padding: 5px;
      background: #445d00;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.Web {
    padding: 5px;
      background: #613158;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}

.Bk {
    padding: 5px;
      background: #504f00;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.Rambler {
    padding: 5px;
      background: #002d45;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.Rediff {
    padding: 5px;
      background: #373c1f;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.incom  {
    padding: 5px;
      background: #616743;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.laposte  {
    padding: 5px;
      background: #9e3316;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}

.mailone   {
    padding: 5px;
      background: #583c3c;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.mailcom {
    padding: 5px;
      background: #41020b1;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.Attymail {
    padding: 5px;
      background: #2f2400;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}

.Zoho{
    padding: 5px;
      background: #127cff;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}

.bolcombr {
    padding: 5px;
      background: #006436;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}

.boltcom  {
    padding: 5px;
      background: #014827;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}

.bluemailch {
    padding: 5px;
      background: #021e11;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}

.blazemailcom {
    padding: 5px;
      background: #284f3d;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}

.iCloudcom {
    padding: 5px;
      background: #190004;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}

.gov  {
    padding: 5px;
      background: #090405;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}

.otherru  {
    padding: 5px;
      background: #812e39;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}

.Bellsouth {
    padding: 5px;
      background: #5c767f;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.Attnet   {
    padding: 5px;
      background: #7f6d5c;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}

.Verizon  {
    padding: 5px;
      background: #667f5c;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.coxnet {
    padding: 5px;
      background: #6c3020;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.mecom {
    padding: 5px;
      background: #446c20;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.maccom {
    padding: 5px;
      background: #0289e7;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.tonlinede {
    padding: 5px;
      background: #a4b274;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.shawca {
    padding: 5px;
      background: #7802e7;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.xanadoo {
    padding: 5px;
      background: #844841;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.fastmailnet  {
    padding: 5px;
      background: #518441;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}
.dreamwizcom  {
    padding: 5px;
      background: #518441;
	  width:100%;
	font-family: 'Raleway', sans-serif; font-family: 'Dosis', sans-serif;
}